.u-mb-small {
  margin-bottom: 2rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

.heading-1, .heading-2 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4rem;
  color: black;
  line-height: 1; }

.heading-2 {
  font-size: 2.5rem;
  color: black;
  line-height: 1; }

.paragraph {
  font-size: 1.5rem;
  line-height: 1.5; }

.main-container-index {
  width: 100vw;
  height: 100vh;
  background-color: #73d4c9;
  display: flex;
  flex-direction: column; }

.profile {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; }
  .profile__content {
    display: flex; }
  .profile__portrait {
    border-radius: 50%;
    height: 25rem;
    width: 25rem; }
  .profile__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    width: 40rem; }

.main-container-projects {
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column; }

.projects {
  height: 100%;
  padding: 5rem 9rem; }
  .projects__heading {
    text-align: center;
    margin-bottom: 5rem; }
  .projects__paragraph {
    font-size: 1.2rem; }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 2rem; }
    .projects__grid--item {
      background-color: #73d4c9;
      height: 22rem;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
    .projects__grid--item-links {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-size: 1.2rem; }
    .projects__grid--item-link {
      font-weight: 400;
      color: #0e2f2b; }

.header__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 1rem;
  padding-right: 7.5rem; }
  .header__list--item, .header__list--item--projects {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 2rem; }
  .header__list--item {
    color: #000; }
  .header__list--item--projects {
    color: #3abbac; }

.footer {
  display: flex;
  justify-content: center; }
  .footer__content {
    display: flex;
    align-items: center; }
