.u-mb-small {
  margin-bottom: 2rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

.heading-1, .heading-2 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4rem;
  color: black;
  line-height: 1; }

.heading-2 {
  font-size: 2.5rem;
  color: black;
  line-height: 1; }

.paragraph {
  font-size: 1.5rem;
  line-height: 1.5; }

.main-container-index {
  width: 100vw;
  height: 100vh;
  background-color: #73d4c9;
  display: flex;
  flex-direction: column; }

.profile {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; }
  .profile__content {
    display: flex; }
  .profile__portrait {
    border-radius: 50%;
    height: 25rem;
    width: 25rem; }
  .profile__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    width: 40rem; }

.main-container-projects {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  .main-container-projects .card__item {
    background-color: white;
    display: flex;
    margin: 10rem 30rem;
    border-radius: 3rem;
    box-shadow: 0 1.5rem 4rem black; }
    @media screen and (max-width: 1200px) {
      .main-container-projects .card__item {
        display: flex;
        flex-direction: column;
        min-width: min-content; } }
    .main-container-projects .card__item--links {
      display: flex;
      text-decoration: none;
      font-size: 1.2rem;
      justify-content: space-evenly;
      margin-top: 2rem; }
    .main-container-projects .card__item--link {
      font-weight: 400;
      text-decoration: none;
      color: #fff;
      background-color: #74d4c9;
      border-radius: 1rem;
      padding: 0.2rem 1rem; }
  .main-container-projects .card__img {
    position: relative;
    background-size: cover; }
    .main-container-projects .card__img img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 3rem 0rem 0rem 3rem;
      border: 5px solid white; }
      @media screen and (max-width: 1200px) {
        .main-container-projects .card__img img {
          border-radius: 3rem 3rem 0rem 0rem; } }
  .main-container-projects .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 35px 25px 35px; }
  .main-container-projects .card__heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: black;
    line-height: 1; }
  .main-container-projects .card__paragraph {
    font-size: 1.2rem; }

.header__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 1rem;
  padding-right: 7.5rem; }
  .header__list--item, .header__list--item--projects {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 2rem; }
  .header__list--item {
    color: #000; }
  .header__list--item--projects {
    color: #3abbac; }

.footer {
  display: flex;
  justify-content: center; }
  .footer__content {
    display: flex;
    align-items: center; }
