.header__list {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  padding-top: 1rem;

  &--item {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 2rem;
  }
}
